{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static "css/aboutus.css" %}">
</head>
<body>
  <section class="about-us">
    <div class="about">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2jGO9bBnSe6RSS0vBzof3KV2p1LNfLJVSt61quffy_g&s" class="pic">
      <div class="text">
        <h2>About Us</h2>
          <p>Welcome to our creative hub, where imagination knows no bounds. At our core, we are a vibrant community of artists, thinkers, and creators, united by our passion for expression. Through the medium of paint, notes, music, and puzzles, we provide the tools to unlock the limitless potential of your creativity. Whether you're seeking inspiration, honing your craft, or simply indulging in the joy of creation, our hub is your sanctuary. Join us on a journey of discovery, where every stroke, melody, and word is a testament to the power of human ingenuity. Together, let's paint a symphony of ideas, compose stories with colors, and unravel the mysteries of our imagination. Welcome to a place where creativity thrives and dreams take flight.</p>
      </div>
    </div>
  </section>
</body>
</html>